---
import Content from '../layouts/Content.astro';
import Card from '../components/Card.astro';
import DarkModeToggle from '../components/DarkModeToggle.vue';
import { faker } from "@faker-js/faker";
---

<Content title="Home">
	<div class="flex gap-6 justify-center items-center">
		<div class="flex-none">
			<div class="avatar">
				<div class="w-24 mask mask-squircle ring ring-primary bg-white">
				  <img src="https://avatars.dicebear.com/api/croodles/zaid.svg" />
				</div>
			</div>
		</div>
		<div class="grow">
			<h1 class="mb-2 mt-0 prose text-2xl">Selamat datang, <span class="text-primary font-bold">Zaid Billah</span></h1>
			<div class="flex gap-2 mb-2">
				<a href="" class="badge badge-success hover:badge-info">PKWT: 15 Agustus 2023</a>
				<a href="" class="badge hover:badge-outline">IT Support</a>
				<a href="" class="badge hover:badge-outline">Corporate Information System</a>
			</div>
		</div>
		<DarkModeToggle client:only="vue" />
	</div>
	<div class="divider"></div>
	<div class="alert mb-6">
		<div class="prose">
			<h2>Company News</h2>
		</div>
	  </div>
	<div class="flex gap-3 px-2 mb-12">
		<Card
			image="/sigmaku/image/news-1.jpg"
			href="https://docs.astro.build/"
			title={faker.lorem.sentence()}
			body={faker.lorem.paragraph()}
			/>
		<Card
			image="/sigmaku/image/news-2.jpg"
			href="https://astro.build/integrations/"
			title={faker.lorem.sentence()}
			body={faker.lorem.paragraph()}
			/>
		<Card
			image="/sigmaku/image/news-3.jpg"
			href="https://astro.build/themes/"
			title={faker.lorem.sentence()}
			body={faker.lorem.paragraph()}
		/>
	</div>
</Content>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
	}

	h1 {
		margin: 2rem 0;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	.text-gradient {
		font-weight: 900;
		background-image: var(--astro-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 100% 200%;
		background-position-y: 100%;
		border-radius: 0.4rem;
		animation: pulse 4s ease-in-out infinite;
	}

	@keyframes pulse {
		0%,
		100% {
			background-position-y: 0%;
		}
		50% {
			background-position-y: 80%;
		}
	}

	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		background: #4f39fa;
		padding: 1rem;
		border-radius: 0.4rem;
		color: var(--color-bg);
	}

	.instructions code {
		font-size: 0.875em;
		border: 0.1em solid var(--color-border);
		border-radius: 4px;
		padding: 0.15em 0.25em;
	}

	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
