---
export interface Props {
	title: string;
	body: string;
	href: string;
	image?: string
}

const { href, title, body, image = null } = Astro.props;
---

<div class="card bg-neutral text-neutral-content">
	{ 
		image ? 
		<slot name="image"><figure><img src={image} alt={title} /></figure></slot> :
		''
	}
	<div class="card-body">
	  <h2 class="card-title">
		<slot name="title">{title}</slot>
	  </h2>
	  <slot name="body"><p>{body}</p></slot>
	  <a href={href} class="text-primary hover:text-info">read more..</a>
	</div>
</div>